bin/.local/bin/django-admin
bin/.local/bin/f2py
bin/.local/bin/f2py3
bin/.local/bin/f2py3.10
bin/.local/bin/flask
bin/.local/bin/mitmdump
bin/.local/bin/mitmproxy
bin/.local/bin/mitmweb
bin/.local/bin/sqlformat
bin/.local/bin/vulture
bin/.local/bin/cookiecutter
bin/.local/bin/dmypy
bin/.local/bin/elf_reader.py
bin/.local/bin/httpx
bin/.local/bin/macho_reader.py
bin/.local/bin/markdown-it
bin/.local/bin/mypy
bin/.local/bin/mypyc
bin/.local/bin/normalizer
bin/.local/bin/pe_reader.py
bin/.local/bin/playwright
bin/.local/bin/slugify
bin/.local/bin/ssh-audit
bin/.local/bin/stubgen
bin/.local/bin/stubtest
bin/.local/bin/__pycache__
